@import 'tailwindcss';

:root {
    --main-color: #131313;
    --black: #000000;
    --secondary-color: rgba(255, 255, 255, 0.08);
    --white: #ffffff;
    --text-color: oklch(96.7% 0.003 264.542);
}

input {
    font-weight: 500;
    color: var(--text-color);
}

option {
    font-weight: 500;
    color: var(--text-color);
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

.btn {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 5px 20px;
    border-radius: 35px;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.8;
}

.btn_main {
    background-color: var(--main-color);
    color: var(--white);
}

.btn_secondary {
    background-color: var(--secondary-color);
    color: var(--white);
}

.sidebar {
    background-color: var(--main-color);
}

.main_div {
    background-color: var(--main-color);
    color: var(--white);
    padding: 2rem;
    border-radius: 32px;
}